PROJECT_ID=ecommerce-pipeline-493520
REGION=europe-west1
DATASET=ecommerce_analytics
BUCKET=ecommerce-raw-ecommerce-pipeline-493520
PUBSUB_TOPIC=orders-realtime
PUBSUB_TOPIC_DLQ=orders-realtime-dlq
PUBSUB_SUB=orders-sub
GOOGLE_APPLICATION_CREDENTIALS=path/to/key.json
